html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-smooth: auto;
  /* -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased; */
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  src: local('Roboto-Regular'), url(../fonts/Roboto-Regular.ttf);
}

body {
  background-color: #282C34;
  color: white;
  font-family: 'Roboto-Regular', sans-serif;
}

ol, ul {
  list-style: square;
}

:root {
  --gun-nitro: #426DFB;
  --gun-shock: #FED128;
  --car-red: #F80B25;
  --car-blue: #243796;
  --car-lightblue: #1B86BC;
  --car-green: #1E9730;
  --car-yellow: #F9E81F;
  --car-purple: #6F0A82;
  --car-orange: #F78121;
  --car-pink: #F13C9D;
  --car-black: #222222;
  --car-gray: #888888;
  --car-white: #FFFFFF;
}

video {
  width: 100%;
  height: 100%;
}

canvas {
  position: absolute;
  left: -9999em;
}

button {
  color: #FFF;
  min-width: 26px;
  min-height: 26px;
  border-radius: 2px;
  line-height: 0;
  border: 0;
  padding: 16px;
  font-size: 12pt;
  font-weight: bold;
  font-family: 'Roboto-Regular', sans-serif;
  background-color: #333;
}

button#raceStart {   background-color: green; }
button#raceStop {   background-color: var(--car-red); }
button.update {   background-color: #900; }

button#raceReset,
button#testMode {
  background-color: #333;
}

a:link {
  font-style:underline;
  -webkit-filter: brightness(2);
  color: #FFF;
}
a:hover,
button:hover {
  cursor: pointer;
  -webkit-filter: brightness(1.2);
}
a[target='_blank']::after {content: '\25F3';}


table {
  width: 96vw;
  margin:0 auto;
  /* margin: 2vw auto 4vw auto; */
  color: #fff;
  background: #000;
  white-space: nowrap;
  opacity: 0.8;
  border-collapse: collapse;
  border-spacing: 0;
}

tr:nth-child(even) {
  background: #111;
}

tr:hover {
  background-color: #23090a;
}

td:nth-child(1) {
  /* first column of each table */
  text-align: left;
  font-weight: bold;
  padding-left: 15px;
}

table th,
table td {
  position: relative;
  border-right: 0;
  border-top: 0;
  border-bottom: 1px solid #333;
  border-collapse: collapse;
  vertical-align: middle;
  padding: 0.7vw;
  text-align: center;
  width: 8%;
  }

table th {
  font-size: 1.1em;
  font-weight: bold;
  border-left: 1px solid #800;
  background: #a00;
}

table td {
  border-left: 1px solid #222;
  font-size: 1em;
  font-weight: normal;
}

.table_title {
  background: #600;
  text-align: left;
  padding-left: 15px;
  width: 6vw;
}

.buttonEvent {
  position: absolute;
  right: 5%;
  top: 15%;
  min-width: 20%;
  min-height: 70%;
  border-radius: 1px;
  padding: 0;
}
/*
#player_stats td,
#player_stats th {
  position: relative;
  width: 8%;
  line-height: 1vw;
  height: 1vw;
} */

.position:not(:empty)::after {
  content: "°";
}

.time_to_first:not(:empty)::before {
  content: "-";
}

.videoPreview,
.gameConfig,
.gameMessages {
  width: 33%;
  height: 2vw;
}


#stopWatch{
  font-size: 2vw;
  margin: 50px auto;
  text-align: center;
}

.credits {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #555;
}

.car_bg,
.car_bg_on {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}

.car_bg {
  background: #a00 url(../img/rc_off.png) no-repeat center center;
}
.car_bg_on {
  background: #a00 url(../img/rc_on.png) no-repeat center center;
}


#cockpit1 { border-color: var(--car-red);}
#cockpit2 { border-color: var(--car-blue);}
#cockpit3 { border-color: var(--car-green);}
#cockpit4 { border-color: var(--car-yellow);}
#cockpit5 { border-color: var(--car-purple);}
#cockpit6 { border-color: var(--car-orange);}
#cockpit7 { border-color: var(--car-pink);}
#cockpit8 { border-color: var(--car-black);}
#cockpit9 { border-color: var(--car-lightblue);}
#cockpit10 { border-color: var(--car-white);}

.on,
.online,
.personal_best {  color: var(--car-green);}
.overall_best {  color: var(--car-yellow);}
.race_over {  color: var(--car-orange);}

.offline,
.off,
.car,
.cockpit {
  color: var(--car-red);
}

.personal_best,
.overall_best,
.race_over {
/* list-style: square; */
padding: 0 10px;
}
ul.colorMeaning  {
list-style: square;
  /* display:block; */
  color:#999;
}
.colorMeaning  li{
  display:inline;
/* list-style: square; */
  font-size:10pt;
}
#playerData{
  display:none;
}
#playerData .cockpit1 .overlay,
#playerData .cockpit1 .position_value {
  background: var(--car-red);
}

#playerData .cockpit2 .overlay,
#playerData .cockpit2 .position_value {
  background: var(--car-blue);
}

#playerData .cockpit3 .overlay,
#playerData .cockpit3 .position_value {
  background: var(--car-green);
}

#playerData .cockpit4 .overlay,
#playerData .cockpit4 .position_value {
  background: var(--car-yellow);
}

#playerData .cockpit5 .overlay,
#playerData .cockpit5 .position_value {
  background: var(--car-purple);
}

#playerData .cockpit6 .overlay,
#playerData .cockpit6 .position_value {
  background: var(--car-orange);
}

#playerData .cockpit7 .overlay,
#playerData .cockpit7 .position_value {
  background: var(--car-pink);
}
#playerData .cockpit8 .overlay,
#playerData .cockpit8 .position_value {
  background: var(--car-black);
}
#playerData .cockpit9 .overlay,
#playerData .cockpit9 .position_value {
  background: var(--car-lightblue);
}

#playerData .cockpit10 .overlay,
#playerData .cockpit10 .position_value {
  background: var(--car-white);
}



/* #cockpit1,
#cockpit2,
#cockpit3,
#cockpit4,
#cockpit5,
#cockpit6,
#cockpit7,
#cockpit8,
#cockpit9,
#cockpit10 {
  width:50px;
  height:50px;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

#playerData .td_img {
  position: relative;
  top:0;
  vertical-align:top;
  width: 5vw;
  height: 5vw;
  min-width: 2vw;
  min-height: 2vw;
  border: 1px solid #282C34;
  border-collapse: collapse;
  padding: 0 0 40px 0 ;
}

#playerData .td_img:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

#playerData .td_img .overlay {
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 5.8vw;
  font-size: 3vw;
  line-height: 6vw;
  border: 2px solid transparent;
  border-radius: 5px;
  float: left;
  transform: translateX(-50%);
  margin-bottom: 9px;
}

#playerData .td_img:hover .image {
  opacity: 0.3;
  cursor: pointer;
}

#playerData .image {
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  width: 6vw;
  height: 6vw;
  min-width: 40px;
  min-height: 40px;
  margin: 0;
  border: 1px solid #282C34;
}
#playerData .position_value {
  position: absolute;
  display:block;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  margin: 0;
  line-height: 20px;
  vertical-align: middle;
  width: 6vw;
  height: 0.5vw;
  min-width: 20px;
  min-height: 20px;
  border-radius: 3px;
  margin: 0;
  border: 0;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
  -webkit-align-items: stretch;
}

#playerData .default_picture1,
#playerData .default_picture2,
#playerData .default_picture3,
#playerData .default_picture4,
#playerData .default_picture5,
#playerData .default_picture6,
#playerData .default_picture7,
#playerData .default_picture8,
#playerData .default_picture9,
#playerData .default_picture10 {
  position: relative;
  bottom: 5px;
  left: 5px;
  margin: 0;
  line-height: 20px;
  vertical-align: middle;
  width: 1.8vw;
  height: 1.5vw;
  max-width: 2vw;
  max-height: 1.5vw;
  min-width: 20px;
  min-height: 20px;
  border-radius: 3px;
  border: 1px solid #CCC;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  display: none;
  font-weight: bold;
  font-size: 12px;
}

/*
#player_stats thead,
#lap_times thead {
  -webkit-flex-flow: row;
  height: 2vw;
}

#player_stats tbody,
#lap_times tbody {
  width: 100%;
  overflow: auto;
  -webkit-flex-flow: row wrap;
}

#player_stats thead tr,
#lap_times thead tr,
#player_stats tbody tr,
#lap_times tbody tr {
  width: 100%;
  -webkit-align-items: stretch;
}

 */

 #playerData{
   width: 96vw;
   overflow: auto;
   -webkit-align-items: stretch;
   background:transparent;
 }



::-webkit-scrollbar {
  width: 0.5vw;
  /* for vertical scrollbars */
  height: 0.5vw;
  /* for horizontal scrollbars */
}

::-webkit-scrollbar-track {
  background: rgba(30, 30, 30, 1.0);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0.7);
}

.grayscale {
  -webkit-filter: grayscale(1);
}

.blur {
  -webkit-filter: blur(10px);
}

.saturate {
  -webkit-filter: saturate(5);
}

.invert {
  -webkit-filter: invert(1);
}

.contrast {
  -webkit-filter: contrast(0.5);
}

.shock {
  -webkit-filter: invert(1);
}

.brightness {
  -webkit-filter: brightness(2);
}

input[type=text],
input[type=date],
input[type=datetime],
input[type=number],
input[type=search],
input[type=time],
input[type=url],
input[type=email],
select,
textarea {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 1px solid #444;
  outline: none;
  color: #fff;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #222;
  -moz-box-shadow: inset 1px 1px 4px #222;
  -webkit-box-shadow: inset 1px 1px 4px #222;
  background: #1a1a1a;
  /* width: 50%; */
}

input[type=text] {
  width: 90%;
}

#countdown_timer_value,
#number_of_laps_value,
#checkpoint_gates {
  width: 60px;
  padding: 6px 10px;
  font-size: 1.2em;
}

/*
.label-game-type {
  font-size: 14pt;
}
#lap_times .position_value {
  right: 5px;
  font-size: 12px;
  font-weight: bold;
} */
